# Variables de entorno - Copiar a .env y completar

SECRET_KEY= hrlw!fm9bq#=$cl1dvo7xsq+(&f!wqdd3c4fl$vj$j+1&5uk29

DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=fuel_injection
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432


# Email (para recuperación de contraseña y notificaciones)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=samuelvalencia780@gmail.com
EMAIL_HOST_PASSWORD=Synned3112

# WhatsApp (opcional: TWILIO o META)
WHATSAPP_PROVIDER=
WHATSAPP_ACCOUNT_SID=
WHATSAPP_AUTH_TOKEN=
WHATSAPP_FROM_NUMBER=
WHATSAPP_META_TOKEN=
WHATSAPP_META_PHONE_NUMBER_ID=

# Nombre del taller
TALLER_NOMBRE=Fuel Injection
TALLER_TELEFONO=+593 99 999 9999
TALLER_DIRECCION=Guayaquil, Ecuador
